.about_us{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_body{
    background-color: #e9e5e2;
}

.hero_about_body{
    width: 100%;
    /* background-color: blue; */
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero_about_body > h1{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.about_section1{
    width: 100%;
    padding: 15px 70px 15px 70px;
    /* background-color: yellow; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_section1_left{
    width: 35%;
    height: 350px;
    border-radius: 8px;
    background-image: url("../Img/about-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_section1_right{
    width: 58%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_section1_right > h3{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: darkgreen;
}
.about_section1_right > h2{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
}
.about_section1_right > p{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
}
.semibold{
    font-weight: 600;
}

.about_section2{
    width: 100%;
    height: auto;
    padding: 10px 70px 10px 70px;
    /* background-color: #e9e5e2; */
    /* background-color: yellow; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.about_section2 > h3{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: darkgreen;
}
.about_section2 > h1{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.value_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}
.value{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.value_card{
    width: 30%;
    padding: 22px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.value_img{
    width: 100%;
    height: 250px;
}
.value_img > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.rotate{
    transform: rotate(45deg)
}
.value_card > h3{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: darkgreen;
}
.value_card > h2{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}
.value_card > p{
    font-size: 16.5px;
    font-family: "Open Sans", sans-serif;
    line-height: 27px;
}
.about_section2_btn{
    /* width: 200px;
    height: 55px; */
    padding: 20px 40px;
    color: white;
    background-color: #004F00;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.about_section4{
    width: 100%;
    padding: 80px 70px 150px 70px;
    background-color: #e9e5e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
}
.about_section4 > h3{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: darkgreen;
}
.about_section4 > h1{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}